---
import logo from "@assets/logo.webp";
import djBackground from "@assets/djBackground.mp4";
---

<section id="home">
  <video
    class="absolute blur-md -z-10 pt-4"
    src={djBackground}
    width={2000}
    height={600}
    autoplay
    loop
    muted></video>
  <div
    class="flex flex-col md:flex-row md:place-content-evenly xl:h-screen place-items-center text-white/80"
  >
    <img src={logo.src}
     srcset=`${logo.src} 600w, ${logo.src} 1200w, ${logo.src} 2000w`
     sizes="(max-width: 600px) 70vw, (max-width: 1200px) 60vw, 40vw"
     class="object-contain w-[70%] px-2 md:px-0 md:w-[60%] lg:w-[40%] md:animate-pulse"
     alt="Logo de dj pablito dyr"
     loading="eager"
     width="2094"
     height="1900"
     decoding="async">
    <div
      class="bg-gray-800/50 text-center md:text-start rounded-xl w-screen md:w-1/2  xl:w-1/3 px-10 md:px-16 py-8 place-content-center"
    >
      <div class="text-b text-center">
        <header class="font-bold md:text-lg">
          Contamos con servicios de DJ, Animaci칩n, Karaoke y m칰cho m치s. <p class="font-light mt-2">De Santiago de Chile (游뻟릖) para el mundo.</p> 
        </header>
        <hr class="mt-6 border-yellow-500"/>
        <p class="mt-5 font-thin md:text-lg">
          T칰 preoc칰pate de vivir el mejor momento junto a tus invitados,
          춰nosotros les entregamos todo lo dem치s!
          
        </p>
      </div>
      <a href="#services"> <button aria-label={`bot칩n link para ir a la secci칩n de servicios`}

        class="mt-5  hover:bg-white/30 rounded-lg w-full p-2 outline outline-1 outline-yellow-500 font-customFont"
        >Nuestros servicios</button
      ></a>
     
    </div>
  </div>
</section>
