---
import { SiDiscogs } from "react-icons/si";

interface Service {
  title: string;
  price: string;
  description: string;
  features: string[];
  featured: boolean
}

export interface Props {
  service: Service;
}

const { service } = Astro.props;
---

{
  service.featured ? (
    <div class="relative w-full shadow-inner shadow-white/40 bg-yellow-700/50 p-8  rounded-3xl text-white/90">
      <header class="place-content-center items-center font-mono text-lg flex flex-row gap-4">
        <SiDiscogs className="text-2xl" /> {service.title.toUpperCase()}
      </header>
      <h3 class="text-center text-4xl font-bold font-customFont">{service.price}</h3>
      <p class="mt-10  text-center">{service.description}</p>
      <ul class="list-disc ml-8 mt-5 px-4 mb-16">
        {service.features.map((feature: string) => (
          <li>{feature}</li>
        ))}
      </ul>
      <button class="absolute bottom-5 sm:bottom-14 right-0 left-0 mx-auto hover:bg-white/30 bg-zinc-700/90 text-white/90 outline outline-1 outline-white/50 rounded-xl w-1/2 p-3 font-mono">
        Contáctame
      </button>
    </div>
  ) : (
    <div class="relative w-full sm:w-5/6 py-10 px-8  bg-zinc-800 rounded-3xl text-white/90">
      <header class="place-content-center items-center font-mono text-lg flex flex-row gap-4">
        <SiDiscogs className="text-2xl" /> {service.title.toUpperCase()}
      </header>
      <h3 class="text-center text-2xl font-bold font-customFont">{service.price}</h3>
      <hr class="mt-6 w-2/3 mx-auto">
      <p class="mt-3 text-center">{service.description}</p>
      <ul class="list-disc ml-8 mt-5 mb-16">
        {service.features.map((feature: string) => (
          <li style="list-style-type: circle;">{feature}</li>
        ))}
      </ul>
      <button class="absolute bottom-5 right-0 left-0 mx-auto hover:bg-white/30 rounded-lg w-1/2 p-3 outline outline-1 outline-yellow-500 font-mono">
        Contáctame
      </button>
    </div>
  )
}
